<div class="font-sans">
  <div class="min-h-screen flex flex-col justify-center items-center bg-gray-100">
    <div class="max-w-md w-full rounded-3xl px-6 py-8 bg-white shadow-md">
      <label for="email" class="block mt-3 text-3xl text-gray-800 text-center font-semibold">
        Iniciar Sesión
      </label>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="mt-8">
        <div class="mt-4">
          <input type="email" formControlName="email" id="email" placeholder="Correo electrónico"
            class="block w-full h-12 px-4 border-none bg-gray-200 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
          <div *ngIf="email.invalid && email.touched" class="text-red-500 text-sm mt-1">
            <span *ngIf="email.errors?.['required']">Correo obligatorio.</span>
            <span *ngIf="email.errors?.['email']">Correo inválido.</span>
          </div>
        </div>

        <div class="mt-4">
          <input type="password" formControlName="password" id="password" placeholder="Contraseña"
            class="block w-full h-12 px-4 border-none bg-gray-200 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
          <div *ngIf="password.invalid && password.touched" class="text-red-500 text-sm mt-1">
            <span *ngIf="password.errors?.['required']">Contraseña obligatoria.</span>
            <span *ngIf="password.errors?.['minlength']">Debe tener al menos 5 caracteres.</span>
          </div>
        </div>

        <div class="mt-6 flex flex-col items-center">
          <button type="submit"
            class="bg-blue-800 hover:bg-blue-900 w-full text-white font-bold py-3 rounded-md transition duration-300 ease-in-out">
            Iniciar sesión
          </button>
          <a class="text-gray-700 mt-3 hover:underline" routerLink="/registrarse" routerLinkActive="active">
            ¿No tienes cuenta? Regístrate
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
