<div class="mt-8 p-6 bg-white rounded-lg shadow-md" [formGroup]="formu">
  <h2 class="text-3xl font-bold mb-6 text-indigo-600">Materias y Calificaciones</h2>

  <div *ngFor="let materia of materias" class="mb-6 border-b pb-4">
    <h3 class="text-2xl font-bold mb-2 text-teal-500">{{ materia.nombre }}</h3>

    <ul class="space-y-3">
      <li *ngFor="let unidad of ['Unidad 1', 'Unidad 2', 'Unidad 3']" class="flex items-center">
        <span class="text-gray-700 w-1/4">{{ unidad }}:</span>
        <input [class.border-red-500]="formu.get('calificacion_' + unidad.charAt(unidad.length - 1))?.invalid" formControlName="calificacion_{{ unidad.charAt(unidad.length - 1) }}" class="input-field" />
      </li>
    </ul>

    <!-- Agrega el botón para insertar calificaciones solo si el rol_id no es 2 -->
    <button *ngIf="rolId !== 2" (click)="insertarCalificaciones()" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">
      Insertar Calificaciones
    </button>
  </div>
</div>
